[submodule "extern/filecoin-ffi"]
	path = extern/filecoin-ffi
	url = https://github.com/filecoin-project/filecoin-ffi.git
	branch = master
[submodule "extern/serialization-vectors"]
	path = extern/serialization-vectors
	url = https://github.com/filecoin-project/serialization-vectors
[submodule "extern/sector-storage"]
	path = extern/sector-storage
	url = ../sector-storage
[submodule "extern/specs-storage"]
	path = extern/specs-storage
	url = ../specs-storage
[submodule "extern/storage-fsm"]
	path = extern/storage-fsm
	url = ../storage-fsm
