[submodule "extern/filecoin-ffi"]
	path = extern/filecoin-ffi
	url = ../filecoin-ffi.git
	branch = master
[submodule "extern/rust-fil-proofs"]
	path = extern/rust-fil-proofs
	url = ../rust-fil-proofs.git
